fastapi
uvicorn
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
langchain
langchain-community
langchain-groq
sentence-transformers
faiss-cpu
pypdf
pydantic
pydantic-settings
email-validator
psycopg2-binary

